/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.5s;
}
.ripple:hover {
  background: #bedb58 radial-gradient(circle, transparent 1%, #dff395 1%)
    center/15000%;
}
.ripple:active {
  background-color: #dff395;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 3px;
  padding: 12px 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #bedb58;
  box-shadow: 0 0 4px #999;
  outline: none;
  &.inverted {
    background-color: white;
    color: #bedb58;
    border: 1px solid #bedb58;

    &:hover {
      background-color: #bedb58;
      color: white;
      border: none;
    }
  }
}
