.recipe-card-container {
  padding-bottom: 50px;
  .recipe-thumbnail {
    width: 315px;
    height: 315px;
    border: none;
    border-radius: 8px;
  }
  .keys {
    .key-type {
      width: 60px;
      height: 60px;
      padding: 0px 3px;
    }
  }
}

@media screen and (max-width: 791px) {
  .recipe-card-container {
    .recipe-thumbnail {
      width: 261px;
      height: 261px;
    }
    .keys {
      .key-type {
        width: 50px;
        height: 50px;
      }
    }
  }
}
