.recipe-card-container {
  padding-bottom: 50px;

  .recipe-thumbnail {
    width: 250px;
    height: 250px;
  }
  .keys {
    .key-type {
      height: 40px;
      width: 40px;
    }
  }
  .recipe-title {
    font-size: 18px;
  }
  .recipe-desc {
    font-size: 12px;
  }
}

@media screen and (max-width: 791px) {
  .recipe-card-container {
    .recipe-thumbnail {
      width: 200px;
      height: 200px;
    }
    .recipe-title {
      font-size: 15px;
    }
    .recipe-desc {
      font-size: 10px;
    }
    .keys {
      .key-type {
        width: 35px;
        height: 35px;
      }
    }
  }
}
