.single-product-container {
  img {
    width: 400px;
    height: auto;
  }
  .add-to-cart-form {
    margin: 0 auto;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    select {
      width: 20%;
      margin: 0 auto;
      border:1px solid rgb(252, 0, 126) !important;
    }
    .quantity {
      width: 60%;
      height: 20%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 auto;
      .number-field {
        width: 30%;
      }
    }
  }
}