.sign-in-inputs {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 75px;
  padding-bottom: 15px;
  padding-right: 40px;
  width: 510px;
  height: auto;
  border: 1px solid black;
  border-radius: 9px;
  padding-left: 50px;
  .sign-in-title {
    text-align: left;
    color: #4E4D68;
  }
  .to-signup {
    display: flex;
    span {
      margin-right: 5px;
    }
    .link-to {
      text-decoration: underline !important;
    }
  }
  .ripple {
    width: 100px;
  }
}
