.sign-in-container {
  padding: 20px 0px 100px 0px;
  height: 100%;
  .sign-in-inputs {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 75px;
    padding-bottom: 10px;
    padding-right: 40px;
    width: 37.5vw;
    height: 100%;
    border: 1px solid black;
    border-radius: 9px;
    padding-left: 50px;
    .sign-in-title {
      padding-top: 20px;
      text-align: left;
      color: #4e4d68;
    }
    .to-signup {
      display: flex;
      padding: 20px 0px 20px 0px;
      span {
        margin-right: 5px;
      }
      .link-to {
        text-decoration: underline !important;
      }
    }
    .ripple {
      width: 100px;
    }
  }
}
.link-to {
  font-weight: bolder;
}

@media screen and (max-width: 792px) {
}
