.forgot-password-container {
  padding: 0px 15px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  .page-title {
    color: var(--main);
    display: flex;
    justify-content: flex-start;
    padding: 10px 0px 10px 20px;
    margin-bottom: 25px;
    font-size: 16px;
  }
  .forgot-pass-form {
    border: 1px solid #303030;
    border-radius: 6px;
    width: 334px;
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form-input {
      margin: 0 auto;
      width: 290px;
    }
  }
  .forgot-text {
    text-align: left;
    padding-left: 20px;
  }
  .reset-password-btn {
    text-align: left;
    padding: 10px 0px 10px 20px;
  }
}
