.forgot-password-page {
  display: flex;
  align-items: center;
  height: 500px;
}

.email-submit {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  height: 80vw;
  max-width: 500px;
  max-height: 400px;
}
.email-field {
  width: 40vw;
  margin: 0 auto;
  max-width: 400px;
}
.submit-email {
  padding: 20px 0px;
}

.reset-msg {
  padding-bottom: 20px;
}
