.shopping-header {
  padding-bottom: 8px;
}
.cart-preview {
  padding-top: 15px;
}
.checkout-btn {
  position: relative;
  margin-top:5%;
}
.subtotal {
  position: relative;
  margin-top:20%;
}
.cart-empty {
  margin: 0 auto;
  font-size: 18px;
  padding:100px 0px;
}