.blog-page-container {
  padding: 0px 15px;
  width: 100vw;
  .about-me-pic-container {
    padding-bottom: 20px;
  }

  .page-title {
    display: flex;
    color: #4e4d68;
    justify-content: flex-start;
  }
  .blog-preview-container {
    overflow-y: scroll;
    height: 20rem;
    margin: 10px 0;
    .blog-preview {
      display: flex;
      justify-content: space-between;
      text-align: left;
      border-bottom: 2px solid gray;
      padding-bottom: 10px;
      .blog-thumbnail {
        width: 8rem;
        height: 6rem;
      }
      .blog-preview-text {
        justify-content: flex-end;
        --max-lines: 3;
        --lh: 1.3rem;
        line-height: var(--lh);
        max-height: calc(var(--lh) * var(--max-lines));
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 10px;
      }
    }
  }

  .latest-recipes {
    padding-top: 20px;
    .top-recipes {
      display: block;
    }
  }
}
.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  color: var(--secondary);
  font-size: 3rem;
}

@media screen and (min-width: 791px) {
  .blog-page-container {
    padding: 0px 40px;
    .latest-recipes {
      .top-recipes {
        display: none;
      }
    }
  }
  .coming-soon {
    height: 500px;
    font-size: 4.5rem;
    font-weight: 600;
  }
}
