.blog-page-container {
  padding: 0px 15px;
  width: 100vw;
  .blog-about-grid {
    display: block;
    .about-top-recipes {
      display: none;
    }
  }
  .about-me-pic-container-mobile {
    padding-bottom: 20px;
  }

  .page-title {
    display: flex;
    color: var(--main);
    justify-content: flex-start;
  }
  .blog-preview-container {
    // overflow-y: scroll;
    height: 20rem;
    margin: 10px 0;
    .blog-preview {
      display: flex;
      justify-content: space-between;
      text-align: left;
      border-bottom: 2px solid gray;
      padding-bottom: 6px;
      margin-bottom: 10px;
      .thumbnail-text {
        display: flex;
      }
      .blog-thumbnail {
        width: 10rem;
        height: 8rem;
      }
      .blog-title {
        padding: 0px 0px 10px 10px;
        color: var(--main);
      }
      .blog-preview-text {
        padding-left: 10px;
        justify-content: flex-end;
        --max-lines: 4;
        --lh: 1rem;
        line-height: var(--lh);
        max-height: calc(var(--lh) * var(--max-lines));
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.7rem;
      }
    }
  }

  .latest-recipes {
    padding-top: 20px;
    .top-recipes {
      display: block;
    }
  }
}

.about-text {
  color: var(--main);
}

@media screen and (min-width: 791px) {
  .blog-page-container {
    padding: 0px 40px;
    .blog-about-grid {
      display: grid;
      grid-template-columns: 3fr 1fr;
      .about-top-recipes {
        display: block;
      }
    }
    .blog-preview-container {
      .blog-preview {
        height: 11rem;
        .blog-thumbnail {
          width: 15rem;
          height: 10rem;
        }
        .blog-title {
          font-size: 1.8rem;
        }
        .blog-preview-text {
          font-size: 1rem;
        }
        .text-preview {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
    .latest-recipes {
      .top-recipes {
        display: none;
      }
    }
  }
  .about-me-pic-container-mobile {
    display: none;
  }
  .divider {
    display: none;
  }
}
