.egg-blog-container {
  text-align: left;
  padding: 0px 15px 40px 15px;
  .egg-thumbnail {
    width: 21rem;
    padding: 10px 0px;
  }
  .apply-spacing {
    padding: 5px 0px;
  }
  .egg-blog-img {
    width: 22rem;
  }
  .table-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    font-size: 7px;
    overflow: hidden;
    padding: 10px 0px;
    .table-element {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 5px;
      border: 1px solid rgb(31, 31, 31);
      height: 4rem;
    }
  }
  a {
    color: var(--secondary);
  }
}

@media screen and (min-width: 791px) {
  .egg-blog-container {
    padding: 0px 380px 80px 380px;
    .egg-thumbnail {
      width: 41.5rem;
    }
    .apply-spacing {
      width: 42rem;
      font-size: 1.1rem;
    }
    .egg-blog-img {
      width: 41.5rem;
    }
    .table-container {
      font-size: 0.6rem;
      .table-element {
        padding-left: 8px;
      }
    }
  }
}
