.sign-up-container {
  padding-top: 75px;
  padding-bottom: 70px;
  .form-container {
    border: 1px solid black;
    text-align: left;
    padding: 25px 30px;
    border-radius: 9px;
    margin: 0 auto;
    width: 461px;
    .link-to {
      text-decoration: underline !important;
    }
    .sign-up-title {
      color: #4e4d68;
    }
    .full-name {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .first-name {
        padding-right: 10px;
      }
      .last-name {
        padding-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 792px) {
  .sign-up-container {
    width: 100vw;
    .form-container {
      width: 90%;
      .sign-up-title {
      }
      .full-name {
        .first-name {
        }
        .last-name {
        }
      }
    }
  }
}
