/* Desktop View */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}
.logo-nav {
  display: flex;
}
.logo {
  justify-self: start;
  width: 100px;
  height: 100px;
}
.nav-options {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 50px;
  margin-top: 70px;
  padding-left: 50px;
  font-weight: 600;
}

.option-mobile {
  display: none;
}
.signin-and-up {
  display: flex;
  margin-top: 53px;
  font-weight: 600;
}
.sign-in {
  padding-right: 50px;
  align-self: center;
}
.signup-btn {
  padding: 10px 10px;
  height: 2.4rem;
  border-radius: 3px;
  background: #0ca16c;
  color: white;
  cursor: pointer;
  align-items: center;
}
.active {
  color: #0ca16c;
}
.signup-btn.active {
  color: white;
}
.mobile-menu {
}

.menu-icon {
  display: none;
}

/* Mobile View */
@media screen and (max-width: 791px) {
  .header {
    position: relative;
    padding: 0px 10px;
    z-index: 9999;
  }
  .nav-options {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 25px;
    padding-left: 0;
    opacity: 0;
    transform: translateX(-800px);
    transition: 0.3s;
  }

  .logo-nav {
    padding-left: 5px;
  }

  .nav-options.active {
    background: #f5f5f5;
    transform: translateX(0);
    right: 1px;
    opacity: 1;
    transition: 0.3s;
    z-index: 1;
    align-content: center;
    gap: 25px;
  }
  .option-mobile {
    display: block;
    color: black;
  }
  .logo {
    max-width: 100px;
    max-height: 100px;
  }
  .hide-nav {
    display: none;
  }
  .signin-and-up {
    margin-top: 0px;
  }
  .signup-btn {
    display: none;
  }
  .mobile-signup {
    background: #0ca16c;
    color: white;
    padding: 20px 0px;
    width: 80%;
    align-self: center;
    border-radius: 3px;
  }
  .mobile-signup.active {
    color: white;
  }
  .sign-in {
    display: none;
  }
  .option {
    margin-top: 12px;
    font-weight: 400;
    /* border: 1px solid black; */
  }
  .active {
    color: #0ca16c;
  }
  .mobile-menu {
  }
  .menu-icon {
    display: block;
    width: 45px;
    cursor: pointer;
    justify-self: end;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
