.header {
  border-bottom: 1px solid black;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // margin-bottom: 25px;
  z-index: 9999999;
  .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 13%;
    padding: 10px;
    .logo {
      width: 100%;
    }
  }
  .nav-options {
    flex-direction: column;
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    justify-content: flex-end;
    .utilities {
      display: flex;
      a {
        padding-left: 10px;
      }
      align-items: center;
    }
    .shopping-icon {
      width: 50px;
      height: 50px;
      padding: 10px 10px;
    }
    .option {
      padding: 10px 30px;
      cursor: pointer;
    }
    .sign-up-btn {
      width: 104px;
      height: 44px;
      font-size: 90%;
    }
  }
}
