.footer {
  width: 100%;
  height: 10vh;
  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .newsletter-input {
      display: flex;
      justify-content: center;
    }
    .input-container {
      width: 20rem;
      .form-input {
        height: 2rem;
      }
    }
    .custom-button {
      padding: 0.5rem 1rem;
    }
  }
  .socials {
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    margin: 0 auto;
    .social {
      width: 37.95px;
      height: 37.95px;
    }
  }
  .links-container {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    width: 900px;
    margin: 0 auto;
  }
  .copywrite {
    padding: 20px;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .newsletter-btn {
    background: transparent;
    border: none;
  }
}

@media screen and (max-width: 792px) {
  .footer {
    .links-container {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      margin: auto;
      width: 100%;
    }
    .footer-link {
      padding: 5px 0px;
    }
    .newsletter {
      width: 100vw;
      .newsletter-form {
        display: flex;
        justify-content: center;
        .newsletter-input {
          width: 100vw;
        }
      }
    }
    .copywrite {
      font-size: 10px;
    }
  }
}
