.footer {
  width: 100%;
  height: 10vh;
  .newsletter {
    margin: 0 auto;
    width: 420px;
  }
  .socials {
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    margin: 0 auto;
    .social {
      width: 37.95px;
      height: 37.95px;
    }
  }
  .links-container {
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    width: 900px;
    margin: 0 auto;
  }
  .copywrite {
    padding: 20px;
    font-weight: 400;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 792px) {
  .footer {
    .links-container {
      display: flex;
      flex-direction: column;
      font-weight: 600;
      margin: auto;
      width: 100%;
    }
    .footer-link {
      padding: 5px 0px;
    }
    .newsletter {
      width: 100vw;
    }
    .copywrite {
      font-size: 10px;
    }
  }
}
