.input-container {
  padding: 10px 0px;
  flex-direction: column;
  .form-input {
    width: 100%;
    font-size: 18px;
    height: 44px;
    border: 0.75px solid #303030;
    ::placeholder {
      color: #8c8c8c;
      font-weight: 400;
    }
  }
  .form-input-label {
    display: flex;
  }
}
