@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --main: #4e4d68;
  --secondary: #0ca16c;
}
::placeholder {
  color: #8c8c8c;
  font-weight: 400;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #303030;
}
a {
  text-decoration: none;
  color: black;
}

input {
  text-indent: 5px;
}
