.single-recipe-container {
  text-align: left;
  padding: 20px 0px 50px 30px;
  .recipe-title {
    display: flex;
    padding: 30px 0px 0px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    color: #4e4d68;
    margin: auto;
  }
  .recipe-image-keys-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .recipe-image-container {
      width: 100%;
      .recipe-image {
        border: none;
        border-radius: 8px;
        width: 34vw;
      }
      .clickable-container {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        .interactable-container {
          .interactable {
            width: 50px;
            padding-left: 20px;
          }
        }
        .btns-container {
          display: flex;
          justify-content: flex-end;
          .btn1 {
            border: none;
            border-radius: 3px;
            padding: 12px 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            color: white;
            background-color: #0ca16c;
            width: 17vw;
          }
          .btn2 {
            border: none;
            border-radius: 3px;
            padding: 12px 18px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
            color: white;
            background-color: #0ca16c;
            width: 17vw;
          }
        }
      }
    }
  }
  .keys {
    display: flex;
    padding-left: 0px;
    .key-type {
      padding: 0px 3px;
    }
  }
}

.recipe-keys {
  width: 500px;
}

h2 {
  color: #4e4d68;
}

// @media screen and (max-width: 792px) {
//   .single-recipe-container {
//     .recipe-image-keys-container {
//       display: block;
//       .recipe-image-container {
//         .clickable-container {
//         }
//       }
//       .clickable-container {
//         display: flex;
//         width: 20px;
//         justify-content: space-between;
//         align-items: center;
//         .interactable-container {
//           display: flex;
//           .interactable {
//             width: 5px;
//             // padding-left: 20px;
//           }
//         }
//       }
//       .btns-container {
//         width: 100vw;
//         .btn1 {
//           font-size: 0.5rem;
//           width: 30px;
//         }
//         .btn1 {
//           font-size: 0.5rem;
//           width: 30px;
//         }
//       }
//     }
//   }
//   .recipe-keys {
//     width: 300px;
//   }
// }

@media screen and (max-width: 792px) {
  .single-recipe-container {
    .recipe-title {
      font-size: 32px;
    }
    .recipe-image-keys-container {
      display: block;
      .recipe-image-container {
        width: 100%;
        .recipe-image {
          border: none;
          border-radius: 8px;
          width: 85vw;
        }
        .clickable-container {
          display: flex;
          width: 90vw;
          justify-content: space-between;
          align-items: center;
          .interactable-container {
            display: flex;
            .interactable {
              width: 30px;
              padding-left: 10px;
            }
          }
          .btns-container {
            padding-left: 10px;
            display: flex;
            justify-content: flex-end;
            width: 100vw;
            .btn1 {
              width: 28vw;
              font-size: 10px;
            }
            .btn2 {
              width: 28vw;
              font-size: 10px;
            }
          }
        }
      }
    }
    .keys {
      display: flex;
      padding-left: 0px;
      width: 150px;
      .key-type {
        padding: 0px 4px;
      }
    }
  }

  .recipe-keys {
    width: 300px;
    align-items: center;
  }

  h2 {
    color: #4e4d68;
  }
}
