.single-recipe-container {
  text-align: left;
  padding: 20px 0px 50px 30px;
  .recipe-title {
    display: flex;
    padding: 30px 0px 0px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    color: #4e4d68;
    margin: auto;
  }
  .macros {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    width: 18.7rem;
  }
  .recipe-image-keys-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .recipe-image-container {
      width: 100%;
      .recipe-image {
        border: none;
        border-radius: 8px;
        width: 34vw;
      }
      .clickable-container {
        display: flex;
        width: 50vw;
        padding: 20px 0px;
        justify-content: space-between;
      }
      .btns-container {
        display: flex;
        justify-content: flex-end;
        .btn1 {
          border: none;
          border-radius: 3px;
          padding: 12px 18px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 1rem;
          cursor: pointer;
          color: white;
          background-color: #0ca16c;
          width: 17vw;
        }
        .btn2 {
          border: none;
          border-radius: 3px;
          padding: 12px 18px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 1rem;
          cursor: pointer;
          color: white;
          background-color: #0ca16c;
          width: 17vw;
        }
      }
    }
  }
}
.keys {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  .key-type {
    padding: 0px 3px;
  }
}

.recipe-keys {
  width: 500px;
}

h2 {
  color: #4e4d68;
}

@media screen and (max-width: 792px) {
  .single-recipe-container {
    padding: 0px 10px 50px 15px;
    .recipe-title {
      font-size: 32px;
    }
    .recipe-image-keys-container {
      display: block;
      .recipe-image-container {
        width: 100%;
        .recipe-image {
          border: none;
          border-radius: 8px;
          width: 85vw;
        }
        .clickable-container {
          display: flex;
          width: 90vw;
          justify-content: space-between;
          align-items: center;
          .interactable-container {
            display: flex;
            .interactable {
              width: 30px;
              padding-left: 10px;
            }
          }
          .btns-container {
            display: flex;
            justify-content: flex-start;
            width: 100vw;
            .btn1 {
              width: 28vw;
              font-size: 10px;
            }
            .btn2 {
              width: 28vw;
              font-size: 10px;
            }
          }
        }
      }
    }
    .keys {
      display: flex;
      padding-left: 0px;
      width: 150px;
      .key-type {
        padding: 0px 4px;
      }
    }
  }

  .recipe-keys {
    width: 300px;
    align-items: center;
  }

  h2 {
    color: #4e4d68;
  }
}
