.image-container {
  position: relative;
  padding-bottom: 70px;
  overflow: hidden;
  img {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    left: 0%;
    width: 100%;
  }
}
h1 {
  color: #4e4d68;
}
.top-recipes {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
