.image-container {
  width: 100%;
  padding-bottom: 70px;
  overflow: hidden;
  .motto {
    font-size: 1.8rem;
    font-weight: 600;
  }
}
h1 {
  color: #4e4d68;
}
.top-recipes {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
