.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  outline: 0;
  animation: slideDown 0.56s ease both;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 10rem auto;
  border: 1px solid black;
  border-radius: 9px;
  width: 25rem;
  padding: 0 20px;
}
.modal-header {
  display: grid;
  grid-template-areas: "data close";
}

.modal-close-button {
  display: grid;
  grid-area: close;
  font-size: 3rem;
  line-height: 37px;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  padding: 10px 0px 0px 0px;
  height: 3rem;
}

.modal-content {
  display: grid;
  grid-area: data;
  padding: 20px 0px 15px 20px;
  .sbmt-btn {
    display: flex;
    justify-self: center;
  }
}

.thankyou-txt {
  padding: 8px 0px;
}
.button-default {
  background: #247ba0;
  color: #fff;
}

.newsletter-giveaway {
  display: none;
  .giveaway-reward {
    width: 10rem;
    height: 10rem;
  }
}

@media all and (min-width: 791px) {
  .modal {
    width: 25rem;
  }
  .newsletter-giveaway {
    display: block;
    padding: 3px 0px;
    .giveaway-reward {
      width: 20rem;
      height: 20rem;
    }
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media all and (max-width: 792px) {
  .modal {
    width: 25rem;
  }
}
